<% provide(:title, 'Anasayfa') %>
<div class='foto' id='homeFoto'>
	<div class="searchForm">
		<p>Dünyanın harikalarını keşfedin</p>
		<%= form_tag wonders_path, method: :get do %>
			<%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Bul..." %>
		<% end %>
	</div>
</div>
<div class='map' id='homeMap'>
	<div id='map-canvas'></div>
</div>
<div id='info-div'>
	<% @wonders.each do |wonder| %>
		<input type='hidden' data-name="<%= wonder.name %>" data-lat=<%= wonder.lat %> data-lng=<%= wonder.lng %> >
	<% end %>
	<span id='pOwner'></span>
</div>