<h2>Düzenle <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(değişiklik yapmak istemiyorsanız boş bırakın)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i>(değişiklik yapmak için güncel şifrenize ihtiyacımız var)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "Güncelle" %></div>
<% end %>

<h3>Hesabımı iptal et</h3>

<p><%= button_to "Hesabımı iptal et", registration_path(resource_name), data: { confirm: "Emin misiniz?" }, method: :delete %></p>

<%= link_to "Geri", :back %>
