<%= form_for(@comment) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Yorum giriniz...", rows: 4 %>
		<%= f.hidden_field(:commentable_id, :value => @wonder.id) %>
    <%= f.hidden_field(:commentable_type, :value => 'Wonder') %>
	</div>
	<%= f.submit "Gönder", class: "btn btn-large btn-primary" %>
<% end %>