<%= form_for(@wonder) do |f| %>
  <div class='attributeContainer'>
    <div class='row attributeTemplate <%= 'hide' if @wonder.properties.present? %>'>
      <p class='col-md-3'>
        <input class='text_field dynamicAttributeName' id='' name='' placeholder='Yeni Özellik İsmi' size='15' type='text' />
      </p>
      <p class='col-md-3'>
        <input class='text_field' id='bar' name='' placeholder='Değer' size='15'  type='text'  />
      </p>
      <p class='col-md-1'>
        <a herf='#' class='btn removeRow'>X</a>
      </p>
    </div>
    <%= link_to '#', :class => 'addAttribute' do %>
      <span class='glyphicon glyphicon-plus' aria-hidden='true'></span>Yeni Özellik Ekle
    <% end %>
  </div>

  <div class="form-actions">
    <div class='showFormButtons hide'>
      <%= f.submit 'Kaydet', class: 'btn primary' %> ya da
      <%= link_to "İptal", request.referrer || wonder_path %>
    </div>
  </div>
<% end %>