<% provide(:title, 'Dünyanın harikaları') %>
<div class='map' id='createMap'>
	<div id='map-canvas'></div>
	<% @wonders.each do |wonder| %>
		<input type='hidden' data-name="<%= wonder.name %>" data-lat=<%= wonder.lat %> data-lng=<%= wonder.lng %> >
	<% end %>
</div>
<div id='formDiv'>
	<%= form_for(@wonder) do |f| %>
	  <div class="field">
	  	<%= f.text_area(:name, placeholder: "İsim giriniz...") %>
	  	<%= f.text_area(:type, placeholder: "Harika türünü giriniz...") %>
	  	<%= f.hidden_field(:lat, :value => "") %>
	  	<%= f.hidden_field(:lng, :value => "") %>
	  </div>
	  <%= f.submit "Ekle", class: "btn btn-large btn-primary" %>
	<% end %>
</div>