<% provide(:title, 'Dünyanın harikaları') %>
<div class='map' id='createMap'>
	<div id='map-canvas'></div>
</div>
<%= form_for(@wonder) do |f| %>
  <div class="field">
  	<%= f.text_area(:name, placeholder: "İsim giriniz...") %>
  	<%= f.text_area(:lat, :value => "") %>
  	<%= f.text_area(:lng, :value => "") %>
  </div>
  <%= f.submit "Ekle", class: "btn btn-large btn-primary" %>
<% end %>