<% provide(:title, 'Dünyanın harikaları') %>
<div class='container' id='showCon'>
	<div class='row'>
		<div class='col-md-12'>
			<h1><%= @wonder.name %></h1>
		</div>
	</div>
	<div class='row'>	
		<div class='col-md-6'>
			<% if @wonder.properties.present? %>
				<ul>
				<% @wonder.properties.each do |key, value| %>
					<li class='showProp'><span class='showPropKey'><%= key %>:</span> <%= value %></li>
				<% end %>
				</ul>
			<% end %>
			<% if signed_in? %>
				<%= render 'shared/ratings_form' %>
				<%= render 'shared/properties_form' %>
			<% end %>
		</div>
		<div class='col-md-6 map' id='showMap'>
			<div id='map-canvas'></div>
		</div>
	</div>
	<hr>
	<div class='row'>
		<div class='col-md-6' id='wonderChoosen'>
			<input type='hidden' data-name="<%= @wonder.name %>" data-lat=<%= @wonder.lat %> data-lng=<%= @wonder.lng %> >
			<div class='foto' id='showFoto'></div>
			<div id='fotoInfo'>
				<span id='pOwner'></span>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-9' id='commentDiv'>
			<% if signed_in? %>
				<%= render 'shared/comment_form' %>
			<% end %>
			<% if @wonder.comments.any? %>
				<h3>Yorumlar (<%= @wonder.comments.count %>)</h3>
				<ol class="showComment">
					<%= render @comments %>
				</ol>
				<%= will_paginate @comments, :previous_label => 'Önceki', :next_label => 'Sonraki' %>
			<% end %>
		</div>
		<div class='col-md-3' id='showSidebar'>
			<% @wonders.each do |wonder| %>
				<div>
					<span><%= wonder.name %></span>
				</div>
			<% end %>
		</div>
	</div>
</div>