  <div class="container navbar-wrapper">
    <div class="navbar navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("logo2.png", alt: "wonderroute"), root_path, id: "logo", class: "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= gravatar_for(current_user, size:40) %></li>
              <li><%= link_to current_user.email, edit_user_registration_path, class: "userEmail" %></li>
              <li><%= link_to 'Çıkış', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Kayıt ol', new_user_registration_path %></li>
              <li><%= link_to "Giriş", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="tabsBar">
    <ul class="navbarBelow">
      <li><%= link_to "Anasayfa", root_path %></li>
      <li><%= link_to "Harikalar", wonders_path %></li>
      <li><%= link_to "Yeni Harika Ekle", new_wonder_path %></li>
      <li><%= link_to "Rotalar", '#' %></li>
      <li><%= link_to "Yeni Rota Ekle", '#' %></li>
      <li><%= link_to "Yardım",    '#' %></li>
    </ul>
  </div>