<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "7W", '#', id: "logo", class: "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><%= link_to "Anasayfa",    '#' %></li>
              <% if user_signed_in? %>
                <li>Merhaba <strong><%= current_user.email %></strong></li>
                <li><%= link_to 'Düzenle', edit_user_registration_path %></li>
                <li><%= link_to 'Çıkış', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to 'Kayıt ol', new_user_registration_path %></li>
                <li><%= link_to "Giriş", new_user_session_path %></li>
              <% end %>
            <li><%= link_to "Yardım",    '#' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>